body,
html {
  width: 100%;
  height: 100%;
}
body #root {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
.box {
  animation: fadebox 1s ease-in-out;
}
@keyframes fadebox {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}
/* .my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
} */

/* .page {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
}
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
} */
